.header {
    grid-area: h;    //  даем элементу псевдоним
    // display: grid;
    // place-items: center;
    background-color: rgba($color: #302d2d, $alpha: 0.6);
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;

}

.header-item {
    height: 100%;
    display: flex;
    justify-content: space-between;
}
