

.about-user {

}

.about-user-item {
    display: flex;
    
}
.about-user-info {
    display: flex;
    flex-direction: column;

}

.user-info-small {
    font-size: 15px;
    color: gray;
    margin-top: 10px;
    margin-left: 20px;

}