.nav-item {
    font-size: 25px;
    padding: 10px;
    a {
        text-decoration: none;
        color: $primaryTextColor;
      
    }
    :hover {
        color: $hoverColor ;
        font-size: 30px;
    }
    
}